@media screen and (max-width: 600px) {

/*--------------------------------------------------------------
Start Header Coding    
--------------------------------------------------------------*/
.main-menu {
    width: 40%;
    margin: 0px auto;
    margin-top: -45px;
}

.hamburger span,
.close-menu span {

}
/*--------------------------------------------------------------
End Header Coding    
--------------------------------------------------------------*/


    /*--------------------------------------------------------------
Start Footer Coding
--------------------------------------------------------------*/
    .footer-box {
        width: 100%;
        line-height: 35px;
        padding: 0px;
    }


    .scrollToTop {
        right: 20px;
    }

    /*--------------------------------------------------------------
End Footer Coding    
--------------------------------------------------------------*/
.contact-side {
	display: none;
}

/*#############################
Contact page
##############################*/

/*--------------------------------------------------------------
Start contact-form-wrapper Coding    
--------------------------------------------------------------*/
.contact-form-main h1 {
    top: 0;
        text-align: center;
}

.form-left-part,.form-right-part{
    width: 100%;
}

.form-right-part{
    padding-left: 0%;
}
/*--------------------------------------------------------------
End contact-form-wrapper Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start contact-page-contact-section-wrapper Coding    
--------------------------------------------------------------*/
.contact-section-main h2 {
    width:100%;
}

.contact-section-main .col {
    margin-bottom: 50px;
}

.contact-section-main .last-col {
    margin-bottom: 100px;
}

.contact-section-main a {
    padding-top: 0px;
    width:100%;
    border: none;
    margin-bottom: 10px;
}

.contact-section-main a:hover {
    text-decoration: underline;
}

.contact-section-main a:nth-child(2) {
    margin-left: 0%;
}

.contact-section-main .last-col {
    padding-top:0px;
    width: 100%;
    border-top:none;
}


/*--------------------------------------------------------------
End contact-page-contact-section-wrapper Coding    
--------------------------------------------------------------*/

}