/*--------------------------------------------------------------
Start Header Coding    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Start Header Coding    
--------------------------------------------------------------*/
.header-wrapper {
    background: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.top-logo {
    width: 10%;
    text-align: left;

}

.top-logo h2 {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
}

.hamburger,
.close-menu {
    width: 20%;
    padding-left: 18%;
    font-size: 35px;
    color: #63E89E;
    margin-top: 10px;
    cursor: pointer;

}

.close-menu {
    display: none;
}

.hamburger {
    display: block;
}

.hamburger span,
.close-menu span {
    width: 40px;
    height: 2px;
    margin-bottom: 5px;
    background: #000000;
    border-radius: 3px;
    float: right;
}

.hamburger span:nth-child(2) {
    width: 30px;
}

.hamburger span:nth-child(3) {
    width: 20px;
}

.main-menu {
    width: 10%;
    display: none;
    margin: 0px auto;
    z-index: 1;
}


.main-menu .nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 32px;
    transition: 0.3s ease;
    z-index: 1;

}

.active {
    color: #000000;
    font-weight: bold;
}



.main-menu .nav a:hover {
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    transition: 0.3s ease;
}

/*--------------------------------------------------------------
End Header Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start Footer Coding    
--------------------------------------------------------------*/
.footer-wrapper {
    background: #F6F4F1;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    width: 100%;
}

.footer-box {
    width: 25%;
    font-weight: normal;
    line-height: 30px;
    padding-left: 10px;
}

.footer-box:nth-child(1) {
    padding-left: 0px;
}

.footer-box:nth-child(3) li {
    margin-top: 60%;
}

.footer-box:nth-child(4) ul {
    margin-top: 40%;
}


.footer-box li {
    display: block;
}

.footer-box li a {
    color: #000000;
}

.footer-box li a:hover {
    text-decoration: underline;
}



.scrollToTop {
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #9C974F;
    position: fixed;
    bottom: 75px;
    right: 40px;
    display: none;
}

/*--------------------------------------------------------------
End Footer Coding    
--------------------------------------------------------------*/


.contact-side {
    background: #9C974F;
    position: fixed;
    top: 40%;
    padding: 18px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    box-sizing: border-box;
    color: #000000;
    letter-spacing: 5px;
    font-weight: bold;
    z-index: 1;
}

/*#############################
Homepage page
##############################*/

/*--------------------------------------------------------------
Start home-main-wrapper Coding    
--------------------------------------------------------------*/
.home-main-wrapper {
    /*background: #191919;*/
}

.home-main-wrapper .container {
    margin-top: 80px;
    padding: 100px 0px 100px 0px;
    background: #191919;
}

/*--------------------------------------------------------------
End home-main-wrapper Coding    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Start home-content-wrapper Coding    
--------------------------------------------------------------*/
.home-content-wrapper {
    background: #F6F4F1;
}

.home-content-wrapper .container {
    padding: 100px 0px 100px 0px;
}

.home-content-wrapper h2 {
    font-weight: 800;
    font-size: calc(24px + 14 * ((100vw - 480px) / 1440));
}

.home-content-wrapper p {
    font-weight: 100;
    font-size: calc(16px + 2 * ((100vw - 480px) / 1440));
    margin-bottom: 50px;
}

.home-content-wrapper a {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #191919;
    font-size: calc(20px + 18 * ((100vw - 480px) / 1440));
    color: #191919;
}

/*--------------------------------------------------------------
End home-content-wrapper Coding    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Start home-slider-wrapper Coding    
--------------------------------------------------------------*/
.home-slider-wrapper {
    background: #9c974f;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    /*margin-bottom: 80px;*/
}

.home-slider-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: -webkit-max-content;
    color: #1d1d1d;
    text-transform: uppercase;
    animation: slidHome 40s linear infinite;
}

@keyframes slidHome {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.home-slider-content span {
    white-space: nowrap;
}

.home-slider-content .bold {
    font-size: calc(40px + 55 * ((100vw - 480px) / 1440));
    font-weight: 700;
    color: #1d1d1d;
}

.home-slider-content .outline {
    color: #9c974f;
    text-shadow: -1px 0 #1d1d1d, 0 1px #1d1d1d, 1px 0 #1d1d1d, 0 -1px #1d1d1d;
    font-size: calc(40px + 55 * ((100vw - 480px) / 1440));
}

/*--------------------------------------------------------------
End home-slider-wrapper Coding    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Start home-project-wrapper Coding    
--------------------------------------------------------------*/
.home-project-wrapper {}

.home-project-wrapper .container {
    padding: 150px 0px 100px 0px;
}

.home-project-wrapper .col-left {
    width: 60%;
}

.home-project-wrapper .project-1 {
    margin-bottom: 100px;
    display: flex;
    position: relative;
}

.home-project-wrapper .project-1 .image-conatiner {
    width: 35%;
}


.home-project-wrapper .project-1 .number {
    font-size: calc(100px + 170 * ((100vw - 480px) / 1440));
    font-weight: 600;
    user-select: none;
    position: absolute;
    bottom: 0px;
    right: 250px;
    transform: translateY(50%);
    line-height: 1em;
    color: #ffffff;
    mix-blend-mode: exclusion;
    font-family: "Roboto", sans-serif;
}

.home-project-wrapper .project-1 .description {
    width: 65%;
    padding-left: 50px;
}

.home-project-wrapper .description h2 {
    margin-bottom: 10px;
    font-size: calc(30px + 15 * ((100vw - 480px) / 1440));
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
}

.home-project-wrapper .description span {
    font-size: calc(25px + 15 * ((100vw - 480px) / 1440));
    font-weight: 300;
    line-height: 1em;
    color: #727272;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;

}

.home-project-wrapper .description p {
    margin-bottom: 10px;
    font-size: calc(14px + 1 * ((100vw - 480px) / 1440));
    color: #727272;
    font-family: "Manrope", sans-serif;
}

.click-right {
    margin-top: 25px;
}

.click-right a {
    border-bottom: 2px solid #000;
    font-size: calc(16px + 12 * ((100vw - 480px) / 1440));
    font-family: "Manrope", sans-serif;
    color: #000000;
}

.right-arrow {
    color: #9C974F;
    width: 65px;
    height: 55px;
    padding-top: 15px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    border: 2px solid #9C974F;
    left: calc(50% - 30px);
}

.home-project-wrapper .col-right {
    width: 40%;
    padding-top: 50vh;
    position: relative;
}

.home-project-wrapper .number {
    font-size: calc(100px + 170 * ((100vw - 480px) / 1440));
    font-weight: 600;
    user-select: none;
    position: absolute;
    bottom: 270px;
    right: 30px;
    transform: translateY(50%);
    line-height: 1em;
    color: #ffffff;
    mix-blend-mode: exclusion;
    font-family: "Roboto", sans-serif;
}

.home-project-wrapper .mid-col {
    width: 60%;
    margin: 120px auto;
    position: relative;
}

.home-project-wrapper .mid-col .description {
    width: 60%;
    margin-top: 50px;
}

.home-project-wrapper .mid-col .number {
    bottom: 320px;
    right: 30px;
}

.home-project-wrapper .project-4 {
    display: flex;

}


.home-project-wrapper .project-4 .col-left .number {
    bottom: 320px;
    right: 30px;
}

.home-project-wrapper .project-4 .col-right .number {
    bottom: 370px;
    right: 30px;
}

.home-project-wrapper .project-4 .col-left {
        position: relative;
    width: 50%;
    padding-top: 150px;
}

.home-project-wrapper .project-4 .col-right {
    width: 40%;
    margin-left: 10%;
    padding-top: 0;
    margin-top: -200px;
}

.home-project-wrapper .project-4 .description {
    width: 60%;
    margin-top: 50px;
}

.home-project-footer-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;

}

.home-project-footer-row a {
    color: #000;
    border-bottom: 2px solid #000;
    font-size: calc(20px + 18 * ((100vw - 480px) / 1440));
}

/*--------------------------------------------------------------
End home-project-wrapper Coding    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Start home-menu-select-wrapper Coding    
--------------------------------------------------------------*/
.home-menu-select-wrapper {
    background: #9C974F;
}

.home-menu-select-wrapper .container {
    padding: 100px 0px;
}

.home-menu-select-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-menu-select-main .right-cont {}

.home-menu-select-main h2 {
    font-size: calc(16px + 12 * ((100vw - 480px) / 1440));
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

.home-menu-select-main a {
    margin: 0 20px;
    color: #000;
    border-bottom: 2px solid #000;
    font-size: calc(20px + 18 * ((100vw - 480px) / 1440));
}

/*--------------------------------------------------------------
End home-menu-select-wrapper Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start home-last-wrapper Coding    
--------------------------------------------------------------*/

.home-last-wrapper {
    background: #9C974F;
}

.home-last-wrapper .container {
    width: 100%;
    padding: 0px;
}

.home-last-wrapper .left-col {
    width:100%;
    background: linear-gradient(90deg, #000 84%, transparent 0);
    margin: 0;

}

.home-last-wrapper .left-col .background-text {
    padding: 70px 20px 280px;
    text-align: center;
    background: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: auto;
}

.home-last-wrapper .left-col .text-container {
    font-size: calc(70px + 70 * ((100vw - 480px) / 1440));
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 3em;
}

.home-last-wrapper .left-col .text-container span {
    position: absolute;
    height: .5em;
    overflow: hidden;
    font-size: calc(60px + 80 * ((100vw - 480px) / 1440));
    white-space: nowrap;
    user-select: none;
    mix-blend-mode: exclusion;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    line-height: 1em;
    background: #000;
}

.home-last-wrapper .left-col .text-container .item-5 {
    transform: translate(0px, -2.5em);
    opacity: 0.1;
    z-index: 15;
}

.home-last-wrapper .left-col .text-container .item-4 {
    transform: translate(0px, -2em);
    opacity: 0.3;
    z-index: 20;
}

.home-last-wrapper .left-col .text-container .item-3 {
    transform: translate(0px, -1.5em);
    opacity: 40;
    z-index: 25;
}

.home-last-wrapper .left-col .text-container .item-2 {
    transform: translate(0px, -1em);
    opacity: 1;
    z-index: 30;
}

.home-last-wrapper .left-col .text-container .item-1 {
    transform: translate(0px, 0%);
    opacity: 1;
    color: #fff;
}

.home-last-wrapper .right-col {
    width: 5%;
}

/*--------------------------------------------------------------
End home-last-wrapper Coding    
--------------------------------------------------------------*/

/*#############################
Contact page
##############################*/

/*--------------------------------------------------------------
Start contact-form-wrapper Coding    
--------------------------------------------------------------*/
.contact-form-wrapper {
    background: #F6F4F1;
}

.contact-form-wrapper .container {
    padding: 150px 0px 150px 0px;
}

.contact-form-main h1 {
    font-size: calc(40px + 78 * ((100vw - 480px) / 1440));
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    /*text-align: center;*/
    top: 50%;
    position: relative;
}

.contact-form-main .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.contact-form-main label,
input,
textarea {
    transition: all 0.2s;
    /*touch-action: manipulation;*/
    background: transparent;
}

.contact-form-main input,
.contact-form-main textarea {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #000;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    padding-bottom: 15px;
}

.contact-form-main textarea {
    height: 200px;
}

.contact-form-main input:focus,
.contact-form-main textarea:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.contact-form-main label {
    letter-spacing: 0.05em;
}

.contact-form-main input:placeholder-shown+label,
.contact-form-main textarea:placeholder-shown+label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 0;
    /*transition: inherit;*/
}

.contact-form-main input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.contact-form-main input:not(:placeholder-shown)+label,
.contact-form-main input:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.form-left-part,
.form-right-part {
    width: 50%;
}

.form-right-part {
    padding-left: 5%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------------------------------
End contact-form-wrapper Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start contact-page-image-wrappe Coding    
--------------------------------------------------------------*/

.contact-page-image-wrapper {
    background-image: url('../images/s.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------
End contact-page-image-wrappe Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start contact-page-contact-section-wrapper Coding    
--------------------------------------------------------------*/
.contact-page-contact-section-wrapper {
    background: #000000;
    color: #ffffff;
}

.contact-page-contact-section-wrapper .container {
    padding-top: 70px;
}

.contact-section-main {
    display: flex;
    flex-wrap: wrap;
}

.contact-section-main h2 {
    font-weight: 500;
    width: 95%;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    padding-top: 15px;
    font-size: 35px;
}

.contact-section-main .col {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.contact-section-main .last-col {
    margin-bottom: 100px;
}

.contact-section-main a {
    padding-top: 17px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    width: 45%;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
}

.contact-section-main a:hover {
    text-decoration: underline;
}

.contact-section-main a:nth-child(2) {
    margin-left: 5%;
}

.contact-section-main .last-col {
    padding-top: 17px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    width: 48%;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
}

.contact-section-main .last-col a {
    border: none;
    display: block;
}

.contact-section-main .last-col a:nth-child(2) {
    margin-left: 0%;
}


/*--------------------------------------------------------------
End contact-page-contact-section-wrapper Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start contact-last-wrapperr Coding    
--------------------------------------------------------------*/
.contact-last-wrapper {
    background: #F6F4F1;
}

.last-wrapper-main {
    display: flex;
    flex-wrap: wrap;
}

.last-wrapper-main .col {
    width: 85%;
    margin: 0px auto;
    padding: 100px 0px 120px 120px;
}

.last-wrapper-main .col:first-child {
    font-size: 25px;
    text-align: right;
    position: relative;
    right: 130px;
    padding-top: 110px;
}

.last-wrapper-main .col:last-child {
    background: #9C974F;
    padding: 100px 0px 70px 140px;
}

.last-wrapper-main a {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    text-decoration: underline;
    display: block;
    margin-bottom: 60px;
}



/*--------------------------------------------------------------
End contact-last-wrapper Coding    
--------------------------------------------------------------*/

/*#############################
l-agence page
##############################*/


/*--------------------------------------------------------------
Start l-agence-main-wrapper Coding    
--------------------------------------------------------------*/
.l-agence-main-wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    place-items: center;
    background: #F6F4F1;
}


.l-agence-main-wrapper h1 {
    text-align: center;
    font-size: 88px;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
}

/*--------------------------------------------------------------
End l-agence-main-wrapper Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start l-agence-first-wrapper Coding    
--------------------------------------------------------------*/

.l-agence-first-wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    background: #191919;
    color: #ffffff;
}

.l-agence-first-wrapper .container {
    padding-top: 100px;
}

.l-agence-first-wrapper .col {
    padding-right: 100px;
}

.l-agence-first-wrapper h1,
.l-agence-slider-wrapper h1 {
    font-size: calc(26px + 19 * ((100vw - 480px) / 1440));
    font-weight: 800;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.l-agence-first-wrapper h2,
.l-agence-slider-wrapper h2 {
    font-size: calc(24px + 16 * ((100vw - 480px) / 1440));
    font-weight: 300;
    letter-spacing: .15em;
}

.l-agence-first-wrapper p {
    font-size: calc(16px + 2 * ((100vw - 480px) / 1440));
}

/*--------------------------------------------------------------
End l-agence-first-wrapper Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start l-agence-slider-wrapper Coding    
--------------------------------------------------------------*/

.l-agence-slider-wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: #ffffff;
}

.main-slider {
    display: flex;
    flex-wrap: wrap;
}

.main-slider .slider-box {
    display: flex;
    justify-content: center;
}

.main-slider .slider-box .col1 {
    width: 70%;
}

.main-slider .slider-box .col2 {
    width: 30%;
    padding-left: 10%;
}


.slider-content-first,
.slider-content-second {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content-first {
    background-image: url('../images/s.jpg');
}

.slider-content-second {
    background-image: url('../images/1.jpg');
}

.l-agence-slider-wrapper h3 {
    font-size: calc(18px + 57 * ((100vw - 480px) / 1440));
    font-weight: 800;
    letter-spacing: .09em;
    text-transform: uppercase;
    margin-top: 90px;
}

.l-agence-slider-wrapper h4 {
    font-size: calc(14px + 14 * ((100vw - 480px) / 1440));
    font-weight: 400;
    position: absolute;
    bottom: 114px;
    z-index: 1;
}

.l-agence-slider-wrapper span {
    opacity: 1;
    transform: translate(0px, 0px);
    letter-spacing: .107em;
    text-transform: uppercase;
    font-size: calc(12px + 17 * ((100vw - 480px) / 1440));
    font-weight: 700;
    display: block;
    padding: 15px 4px;
    border-bottom: 2px solid #fff;

}


.main-slider {
    position: relative;
}

.prevArrow {
    left: 16%;
}


.prevArrow,
.nextArrow {
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    width: 65px;
    height: 45px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    border: 2px solid #fff;
}

.nextArrow {
    left: 23%;
}

/*--------------------------------------------------------------
End l-agence-slider-wrapper Coding    
--------------------------------------------------------------*/

/*#############################
le-feed page
##############################*/

/*--------------------------------------------------------------
Start le-feed-main-wrapper Coding    
--------------------------------------------------------------*/
.le-feed-main-wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    place-items: center;
    background: #F6F4F1;
}


.le-feed-main-wrapper h1 {
    text-align: center;
    font-size: 88px;
    font-family: "Manrope", sans-serif;
    font-weight: 100;
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    color: #9C974F;
    width: 65px;
    height: 58px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    border: 2px solid #9C974F;
    left: calc(50% - 30px);
}

/*--------------------------------------------------------------
End l-agence-main-wrapper Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Srart le-feed-details-wrapper Coding    
--------------------------------------------------------------*/

.le-feed-details-wrapper {
    background: #000000;
    color: #d9d9d9;
}

.le-feed-details-wrapper .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.le-feed-details-wrapper .le-feed-details-main {
    display: flex;
    flex-wrap: wrap;
}

.le-feed-details-wrapper .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 65px;
    border-bottom: 1px solid #ffffff;
    font-family: "Manrope", sans-serif;
}

.le-feed-details-wrapper .content .row:nth-child(1) {
    margin-bottom: 80px;
}

.le-feed-details-wrapper .content .col2 {
    width: 50%;
    padding-left: 30px;
}

.le-feed-details-wrapper .content .cols {
    width: 50%;

}

.le-feed-details-wrapper h1 {
    font-size: calc(20px + 25 * ((100vw - 480px) / 1440));
    font-weight: 800;
    color: #9C974F;
    margin-bottom: 20px;
}

.le-feed-details-wrapper h3 {
    font-size: calc(24px + 31 * ((100vw - 480px) / 1440));
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}

.le-feed-details-wrapper h5 {
    font-size: calc(16px + 2 * ((100vw - 480px) / 1440));
    font-weight: 100;
}

.le-feed-details-wrapper p {
    font-size: calc(16px + 2 * ((100vw - 480px) / 1440));
    color: grey;

}

.le-feed-details-wrapper a {
    color: grey;
    text-decoration: underline;
}

/*--------------------------------------------------------------
End le-feed-details-wrapper Coding    
--------------------------------------------------------------*/